.homepage {
  color: black;
}

h2 {
  color: black;
}

.homePageHeader {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  font-size: 3em;
  color: white;
}
.sectionContainer {
  display: flex;
  flex-direction: column;
  width: 97%;
}
.HomePageSection1 {
  padding: 0 5em 0 4em;
  margin: 0 0em 2em 1em;
  background-color: beige;
  border-radius: 40px;
  opacity: 79%;
}
.HomePageSection2 {
  padding: 0 5em 0 4em;
  margin: 0 0em 2em 1em;
  background-color: beige;
  border-radius: 40px;
  opacity: 79%;
}
.HomePageSection3 {
  padding: 0 5em 0 4em;
  margin: 0 0em 2em 1em;
  background-color: beige;
  border-radius: 40px;
  opacity: 79%;
}

.Iam {
  padding: 0em 16%;
  font: normal 20px/25px Montserrat, sans-serif;
  color: #999;
}
.Iam p {
  height: 0px;
  float: left;
  margin-right: 0.3em;
}
.Iam b {
  float: left;
  overflow: hidden;
  position: relative;
  height: 24px;
  top: 0px;
}
.Iam .innerIam {
  display: inline-block;
  color: #ef8b80;
  position: relative;
  white-space: nowrap;
  top: 0;
  left: 0;
  margin: 0em 4em;

  /*animation*/
  -webkit-animation: move 5s;
  -moz-animation: move 5s;
  -ms-animation: move 5s;
  -o-animation: move 5s;
  animation: move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  /*animation-delay*/
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -ms-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

@-webkit-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-moz-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@-o-keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -50px;
  }
  40% {
    top: -100px;
  }
  60% {
    top: -150px;
  }
  80% {
    top: -200px;
  }
}

.LoginLogout {
  margin: 6em 0em 4em 0em;
  display: flex;
  justify-content: space-around;
  padding: 0 2em;
}

.LoginLogout a {
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 0.8px solid #ef8b80;
  box-shadow: inset 0 -2px 0 #ef8b80;
  color: white;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
}

.LoginLogout a:hover {
  border-bottom: 0.8px solid #ef8b80;
  box-shadow: inset 0 -2px 0 #ef8b80;
}

@media (min-width: 1200px) {
  .sectionContainer {
    display: flex;
    width: 97%;
  }
  .HomePageSection1 {
    padding: 0 5em 0 4em;
    margin: 0 0em 0 2em;
    background-color: beige;
    border-radius: 40px;
    opacity: 79%;
  }
  .HomePageSection1:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  .HomePageSection2 {
    padding: 0 5em 0 4em;
    margin: 0 0em 0 2em;
    background-color: beige;
    border-radius: 40px;
    opacity: 79%;
  }
  .HomePageSection2:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }
  .HomePageSection3 {
    padding: 0 5em 0 4em;
    margin: 0 0em 0 2em;
    background-color: beige;
    border-radius: 40px;
    opacity: 79%;
  }
  .HomePageSection3:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  .Iam {
    padding: 1em 29%;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
  }
  .Iam p {
    height: 50px;
    float: left;
    margin-right: 0.3em;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #ef8b80;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;

    /*animation*/
    -webkit-animation: move 5s;
    -moz-animation: move 5s;
    -ms-animation: move 5s;
    -o-animation: move 5s;
    animation: move 5s;
    /*animation-iteration-count*/
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    /*animation-delay*/
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    -ms-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
  }
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }

  @-webkit-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  @-moz-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  @-o-keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }
  @keyframes move {
    0% {
      top: 0px;
    }
    20% {
      top: -50px;
    }
    40% {
      top: -100px;
    }
    60% {
      top: -150px;
    }
    80% {
      top: -200px;
    }
  }

  .LoginLogout {
    margin-top: 10em;
  }

  .LoginLogout a {
    font-size: 1.4em;
    text-decoration: none;
    border-bottom: 0.8px solid #ef8b80;
    box-shadow: inset 0 -2px 0 #ef8b80;
    color: white;
    transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  }

  .LoginLogout a:hover {
    border-bottom: 0.8px solid #ef8b80;
    box-shadow: inset 0 -2px 0 #ef8b80;
  }
}
