.NoteCreate {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CreateANote {
  color: white;
}

.CreateNoteForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e7dfdb;
  opacity: 90%;
  margin: 0em 2em 2em 1em;
  padding: 2em 2em 15em 2em;
  height: 70vh;
  width: 90%;
  border-radius: 15px;
}

.name {
  width: 100%;
}

.where {
  width: 100%;
  margin-top: -2em;
}
.category {
  margin-top: 2em;
}
button {
  display: block;
  padding: 10px 30px;
  border: none;
  width: 170px;
  background: none;
  color: black;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
  border: 3px solid #ef8b80;
  font-family: "Poppins", sans-serif;
  background-color: #ef8b80;
}

@media (min-width: 1200px) {
  .NoteCreate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    height: 100vh;
  }

  .CreateANote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: 2em 6em 8em 8em;
    color: white;
  }

  .CreateNoteForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e7dfdb;
    opacity: 90%;
    margin: 6em 4em 2em 4em;
    padding: 2em 4em 10em 4em;
    height: 70vh;
    width: 60%;
    border-radius: 15px;
  }

  .name {
    width: 100%;
  }

  .where {
    width: 80%;
    margin-top: -2em;
  }
  .category {
    margin-top: 2em;
  }
}
