ul {
  list-style: none;
}
.topLinks {
  margin: 2em 0 2em 0;
  padding: 0 3%;
  display: flex;
  justify-content: space-around;
}

.NoteList {
  width: 100%;
}
.ListOfNotes {
  display: flex;
  flex-direction: column;
}

.categoryHeader {
  display: none;
}
.categoryItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 1em;
}

.categoryHolder {
  display: flex;
  justify-content: space-around;
  padding: 0em;
}

a {
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 0.8px solid #ef8b80;
  box-shadow: inset 0 -2px 0 #ef8b80;
  color: white;
}
@media (min-width: 768px) {
  .categoryHeader {
    display: unset;
  }
}
@media (min-width: 1200px) {
  .topLinks {
    margin: 4em 0 2em 0;
    padding: 0 37%;
    display: flex;
    justify-content: space-around;
  }
  .NoteListGrid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: repeat(1, 1fr);
  }
  .NoteList {
    width: 100%;
  }
  .ListOfNotes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 1em;
    column-gap: 1em;
  }

  .CategoryHolder {
    grid-row: span 2;
    text-transform: lowercase;
  }

  .categoryItemContainer {
    display: flex;
    justify-content: center;
    margin-top: 1em;
  }
  a {
    font-size: 1.4em;
    text-decoration: none;
    border-bottom: 0.8px solid #ef8b80;
    box-shadow: inset 0 -2px 0 #ef8b80;
    color: white;
    transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
  }

  a:hover {
    background: #ef8b80;
  }
}
