.CategoryCreate {
  display: flex;
  flex-direction: column-reverse;
  color: white;
}

.formTitle {
  padding-top: 15px;
}
.formDescriptionParagraph {
  display: none;
}

.CreateListForm {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #e7dfdb;
  margin: 2em 1em 2em 1.2em;
  padding: 2em 1em 10em 2em;
  height: 60vh;
  width: 90%;
  border-radius: 15px;
  opacity: 90%;
}
button {
  display: block;
  padding: 10px 30px;
  border: none;
  width: 170px;
  background: none;
  color: black;

  position: relative;
  text-transform: uppercase;
  z-index: 1;
  border: 3px solid #ef8b80;
  font-family: "Poppins", sans-serif;
  background-color: #ef8b80;
}

@media (min-width: 768px) {
  .formDescriptionParagraph {
    display: unset;
  }

  .CreateListForm {
    width: 60%;
    margin: 2em 1em 2em 10em;
  }
}
@media (min-width: 1200px) {
  .CategoryCreate {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);

    height: 100vh;
  }

  .CreateACategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2em;
    padding: 2em 6em 8em 4em;
    color: white;
  }

  .CreateListForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #e7dfdb;
    margin: 6em 4em 2em 9em;
    padding: 2em 4em 10em 4em;
    height: 70vh;
    width: 60%;
    border-radius: 15px;
    opacity: 90%;
  }
}
