nav {
  padding: 1% 3% 1% 3%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background-color: white;
  display: flex;
  justify-content: space-around;
}

nav a {
  font-size: 1.4em;
  text-decoration: none;
  border-bottom: 0.8px solid #ef8b80;
  box-shadow: inset 0 -2px 0 #ef8b80;
  color: black;
  transition: background 0.1s cubic-bezier(0.33, 0.66, 0.66, 1);
}

nav a:hover {
  background: #ef8b80;
}

@media (min-width: 1200px) {
  nav {
    padding: 1% 30% 1% 30%;
  }
}
